<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MTA Tracker</title>
  <!-- Include HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
  <style>
    .htmx-indicator {
        font-style: italic;
    }
  </style>
</head>
<body>
  <h3>
    Search Routes
    <span class="htmx-indicator">
      Loading all routes...
    </span>
  </h3>

  <input class="form-control" type="search"
         name="search" placeholder="Search for routes to add"
         hx-post="/search"
         hx-trigger="input changed delay:250ms, keyup[key=='Enter']"
         hx-target="#search-results"
         hx-swap="innerHTML">

  <table class="table">
    <thead>
      <tr>
        <th>Route name</th>
      </tr>
    </thead>
    <tbody id="search-results">
      <!-- Search results will be injected here -->
    </tbody>
  </table>
</body>
</html>
